body{
    background-color: beige;
}
header{
    background-color: rgb(255, 255, 255);

}
h1{
    text-align: center;
}
.banner{
    width: 100%;
}
.container{
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin: auto;
}
footer{
    background-color: white;
}